html{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.8;
  font-weight: 400;
  color: #48555B;
  scroll-behavior: smooth;
}

a{
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .4s ease-out all;
}

.header{
  width: 100%;
}

.main{

}

.wrapper{
  margin: 0 auto;
  max-width: 941px;
}

.hero-section{
  box-sizing: border-box;
  padding: 41px 15px 71px;
  height: 100svh;
  background: url(../images/bg.jpg) 50% 0% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo{
  text-decoration: none;
  display: block;
  margin: auto 0;
}

.logo-img{
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

.hero-text{
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: 1;
  text-transform: uppercase;
}

.scrl-btn{
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 4px;
}

.nav{
  border: 1px solid #E6E6E6;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.nav-logo{
  text-decoration: none;
  display: block;
  margin: auto 0;
}

.nav-list{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.list-item{
  display: inline-block;
  text-align: center;
  margin: 0 24px;
}

.list-item:last-child{
  margin: 0;
}

.list-link{
  color: #48555B;
  text-decoration: none;
  text-transform: uppercase;
}

.list-link:hover{
  color: #00A4E5;
}

.our-story{
  padding-top: 57px;
  margin-bottom: 118px;
}


.section-title{
  position: relative;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-title::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: -9px;
  left: 47%;
  background-image: url(../images/Line.svg);
}

.inner-content{
  padding-top: 61px;
  display: flex;
  justify-content: space-between;
}

.text-box{
  width: 42%;
}

.h2{
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
  margin-bottom: 30px;
}

.highlighted{
  color: #16ACE8;
}

.image-box{
  width: 49%;
  padding-top: 30px;
}

.image-tab{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  height: 100%;
}

.tab-item{
  display: inline-block;
  width: 100%;
}

.tab-item:nth-child(1)
a
{
  box-sizing: border-box;
  display: block;
  width: 140px;
  height: 224px;
  top: 0;
  left: 0;
  background-image: url(../images/image1.jpg);
  background-repeat: no-repeat;
}

.tab-item:nth-child(2)
a
{
  box-sizing: border-box;
  width: 140px;
  height: 224px;
  top: 0;
  left: 0;
  background-image: url(../images/image2.jpg);
}

.tab-item:nth-child(3)
a
{
  box-sizing: border-box; 
  width: 140px;
  height: 224px;
  top: 0;
  left: 0;
  background-image: url(../images/image3.jpg);
}

.tab-link{
  padding-top: 15px;
  padding-left: 14px;
  padding-right: 33px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  height: 100%;
  display: block;
}

.services{
  margin-bottom: 115px;
}

.services .title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.title .section-title{
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
}

.title 
.section-title::after{
  left: 0;
}

.describtion{
  display: inherit;
  gap: 31px;
}

.section-desc{
  margin: 0;
  font-size: 11px;
  line-height: 1.7;
  max-width: 394px;
}

.section-btn{
  display: inline-block;
  padding: 11px 29px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  font-size: 13px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: #00A4E5;
}

.section-btn:hover{
  transition: .3s ease-in all;
  color: #00A4E5;
  background-color: #FFF;
  box-shadow: inset 0px 0px 2px 1px rgba(0,164,229,1);
}

.tabs{
  display: flex;
  gap: 28px;
}

.services-tab{
  box-sizing: border-box;
  padding: 38px 23px;
  border: 1px solid #E6E6E6;
  max-width: 295px;
}

.services-tab .services-img{
  display: block;
  max-height: 75px;
}

.services-title{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 13px;
  width: 98%;
}

.services-subtxt{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}

.pre-footer{
  height: 499px;
  background-image: url(../images/43cb5b04fc1cbc2392456c0c0cb836a7.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}

.pre-footer-title{
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  width: 39%;
  margin-top: 120px;
  margin-bottom: 35px;
}

.pre-footer-c{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre-footer-c .section-btn{
  padding: 11px 26px;
}

.newsletter{
  background: #171819;
  padding: 30px 0;
}

.new-signup{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signup-txt{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin-right: 70px;
  letter-spacing: 0.84px;
}

.signup-email{
  display: flex;
}

.signup-email .section-btn{
  min-width: 150px;
  display: block;
  width: fit-content;
  box-sizing: border-box;
  text-align: center;
}

.signup-mail{
  display: block;
  box-sizing: border-box;
  border: none;
  width: 250px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 11px 16px;
}

.signup-mail::placeholder{
  color: #48555B;
}

.footer-text{
  margin: 0;
  color: #FFF;
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.84px;
}

.footerflex{
  display: flex;
  justify-content: space-between;
}

.footer-info{
  background: #141A20;
  padding: 40px 0;
}

.company-info{
  width: 27%;
}

.info-title{
  text-transform: uppercase;
  margin-bottom: 19px;
}

.footer-logo{
  text-decoration: none;
  display: block;
  margin: auto 0;
  width: fit-content;
  margin-bottom: 15px;
}

.info-links .info-title,
.info-contact .info-title{
  margin-bottom: 15px;
}

.info-img{
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

.info-subtext{
  line-height: 1.7;
}

.info-links{

}

.footer-links{
  display: flex;
  gap: 34px;
}

.footer-link-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-list-item .footer-text{
  font-weight: 600;
  line-height: 2.3;
  text-transform: uppercase;
}

.info-contact{
  width: 13%;
}

.contact-links{

}

.contact-address{
  width: 93%;
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer-link{
  text-decoration: none;
}

.footer-link:hover{
  color: rgba(22, 172, 232, 0.5);
  text-decoration: underline;
}

.contact-tel{
  margin-bottom: 15px;
}

.contact-mail{

}

.info-social{
  margin-top: 30px;
  display: flex;
  gap: 25px;
}

.social-link{
  height: fit-content;
}

.copyright{
  padding: 22px 0;
  background: #171819;
}

.copyright-info{
  text-align: center;
}